<% provide :title, 'About' %>

<h1>About</h1>
<p>This is a ChatterBox website for people to chat about their daily lives. For details please visit KC Sheng's <a href="https://github.com/kcsheng/ChatterBox">ChatterBox</a> github page</p>